include ../_var
include ../utils/_mixins
include ../utils/_obscure
include ../utils/_icons
include ../components/_breadcrumbs


doctype html

block var

html#page(lang='en' prefix="og: https://ogp.me/ns#")
  
  head
  
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    
    //- Site Title
    title= home ? `${siteName} | ${tagLine}` : `${title} | ${siteName}`
    //- title= title
    //- Site Description
    meta(name='description' content= description)
    //- Responsive Tag
    meta(name='viewport', content='width=device-width, initial-scale=1.0, viewport-fit=cover')

    //- Google hreflang Tag
    link(rel='canonical', href= site + pageUrl)
  
    //- Preconnect
    link(rel='preconnect', href='https://res.cloudinary.com/filiio/')
    //- link(rel='preconnect', href='https://connect.facebook.net')
    
    //- link(rel='preload', href='https://static.josephpinder.com/fonts/metropolis-regular.woff2', as='font', type='font/woff2', crossorigin='')
    //- link(rel='preload', href='https://static.josephpinder.com/fonts/metropolis-medium.woff2', as='font', type='font/woff2', crossorigin='')
    //- link(rel='preload', href='https://static.josephpinder.com/fonts/metropolis-bold.woff2', as='font', type='font/woff2', crossorigin='')
  
    //- https://www.filamentgroup.com/lab/critical-cdn.html
    //- CSS — START
    if pro
      link(rel='preload', href='/styles/style-version.min.css', as='style')
      link(rel='stylesheet', href='/styles/style-version.min.css', type='text/css')
    else
      link(rel='preload', href='/styles/style.css', as='style')
      //- link(rel='preload', href="/scripts/snippets.build.js", as='script')
      link(rel='stylesheet', href='/styles/style.css', type='text/css')
    //- CSS — END
    
    //- Site Scripts — START
    +script('snippets', false, 'defer' )
    //- script
    

    //- Site Scripts — END

    //- No Script Styles – START
    noscript
      style.
        .script {display: none}
    //- No Script Styles – START

    //- Site Favicons - START
    link(rel='icon' href='/favicon.svg')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#9395A1')
    link(rel='apple-touch-icon' href='/apple-touch-icon.png')
    link(rel='manifest' href='/manifest.json')
    meta(name='theme-color' content='#ffffff')
    //- Site Favicons - END
      
  body
    
    input#click(type='checkbox' aria-labelledby='menu-prompt')

    #container(class='[ container ]')
      //-  Include Site Header
      include _navbar
      
      #wrapper(class='[ content--wrapper ]')

          
        if nohero
          
          main#main(class='[ main ] [ x--wide pt--7 pb--5 ]')

            block content

        else if contact
          
          main#main(class='[ main ] [ pb--5 ]')

            block content

        else
          
          main#main(class='[ main ] [ pb--5 ]')
            
            include ../partials/_banner

            block content
        
        //- Include Site Footer
        include _footer
          
        //- include ../partials/_sidebar

      //- +breadcrumbs(crumbs)(class='[ pb--1 ]')
    +script('app', false, 'defer')
    +script('lazysizes', true, 'defer')
    +script('obscure', false )
    
    //- script !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init','246740276522258');fbq('track','PageView')
    //- noscript
    //-   img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=XXXXXXXXXX&ev=PageView&noscript=1')
    
    block footer
      