
mixin fb(href, share, id)
  li(class='[ social__item ]')&attributes(attributes)
    a(class='[ social__link ]' href=`https://www.facebook.com/${href}`, target='_blank', rel='noopener', aria-label=`${share ? 'Share on' : 'Follow us on'} Facebook`)
      svg(id=(id ? id : false), class='[ social__icon ]',xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' xml:space='preserve', role='img')
        title=  `${share ? 'Share on' : 'Follow us on'} Facebook` 
        path(d='M37 64H25.1V32h-8V21h8v-6.5c0-2.3.3-4.2.6-6.1.4-1.8 1-3.2 2-4.5.9-1.2 2.3-2.2 3.9-2.9 1.7-.7 3.8-1 6.5-1H47v11h-5.5c-1.1 0-1.9.1-2.5.3-.6.3-1 .5-1.3.9s-.4.9-.5 1.4c-.1.6-.1 1.3-.1 2v5.5H47l-1.1 11h-8.8L37 64z')


//- Facebook — Square
mixin fb-sq(href, share, id)
  li(class='[ social__item ]')&attributes(attributes)
    a(class='[ social__link ]' href=`https://www.facebook.com/${href}`, target='_blank', rel='noopener', aria-label=`${share ? 'Share on' : 'Follow us on'} Facebook`)
      svg(id=(id ? id : false), class='[ social__icon ]', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 64 64', role='img')
        title=  `${share ? 'Share on' : 'Follow us on'} Facebook` 
        path.st0(d='M60.5 0h-57C1.6 0 0 1.6 0 3.5v57c0 2 1.6 3.5 3.5 3.5h30.7V39.2h-8.3v-9.7h8.3v-7.1c0-8.3 5-12.8 12.4-12.8 3.5 0 6.6.3 7.5.4v8.6H49c-4 0-4.8 1.9-4.8 4.7v6.2h9.6l-1.2 9.7h-8.3V64h16.3c2 0 3.5-1.6 3.5-3.5v-57C64 1.6 62.4 0 60.5 0z')

//- Twitter
mixin tw(href, share, id)
  li(class='[ social__item ]')&attributes(attributes)
    a(class='[ social__link ]' href=`https://twitter.com/${href}`, target='_blank', rel='noopener', aria-label=`${share ? 'Share on' : 'Follow us on'} Twitter`)
      //- svg(id=(id ? id : false), class='[ social__icon ]', xmlns='http://www.w3.org/2000/svg' viewBox='0 0 79 64' xml:space='preserve' role='img')
        //- title= `${share ? 'Share on' : 'Follow us on'} Twitter` 
        //- path(d='M79 7.5c-.7.4-1.3.6-2.2 1-.9.4-1.6.6-2.3.7-.7.1-1.6.4-2.3.5-.7.1-1.7.4-2.4.5.7-.5 1.6-1.1 2.3-1.8.7-.6 1.3-1.2 1.9-2.1.6-.7 1.2-1.6 1.7-2.4.5-.7.7-1.7 1.1-2.7-.7.5-1.7.7-2.4 1.2s-1.7.7-2.4 1.1c-.7.4-1.7.6-2.7.7-1 .4-1.8.6-2.8.7-.7-.7-1.6-1.6-2.3-2.2-1-.6-1.8-1.1-2.9-1.6-1.1-.5-1.9-.7-3-1.1-1.1 0-2.3-.1-3.6-.1-2.2 0-4.1.5-6.2 1.2-2.1.7-3.9 1.9-5.2 3.4-1.3 1.6-2.7 3.3-3.4 5.2-1 1.9-1.3 4-1.3 6.3 0 .4 0 .6.1 1v1c0 .4 0 .6.1 1 0 .4 0 .6.1 1-3.4-.1-6.7-.7-9.7-1.7-3.3-.7-6.2-1.9-9-3.4-2.9-1.3-5.6-3.3-8-5.2S7.4 5.6 5.3 3c-.2.5-.6 1.1-.7 1.7-.3.8-.6 1.4-.7 2-.1.7-.4 1.3-.5 2.1-.1.8-.1 1.4-.1 2.2 0 1.3.1 2.8.6 4 .4 1.3.7 2.7 1.3 3.6.6 1.2 1.3 2.3 2.3 3.3 1 1 1.8 1.7 2.9 2.4-.6 0-1.2 0-1.8-.1-.7-.1-1.3-.2-1.9-.4-.6-.1-1.2-.4-1.7-.6-.6-.1-1.2-.5-1.7-.7v.2c0 1.9.4 3.9 1 5.6.6 1.8 1.5 3.3 2.7 4.7 1.1 1.3 2.4 2.7 4.1 3.5 1.6 1.1 3.3 1.7 5.1 2.2-.4.1-.6.1-1 .1-.5.1-.7.1-1.1.1-.4.1-.6.1-1 .1h-2.5c-.4 0-.6 0-.7-.1-.4 0-.6 0-1-.1.5 1.7 1.2 3 2.3 4.5 1 1.3 1.9 2.7 3.4 3.5 1.3 1.1 2.8 1.8 4.5 2.3 1.6.6 3.3 1 5.1 1-1.3 1.1-2.9 2.2-4.5 2.9-1.6 1-3 1.7-4.7 2.2-1.7.6-3.5 1.1-5.2 1.3-1.9.3-3.7.5-5.8.5H2c-.5 0-.7 0-1.1-.1h-1c1.7 1.1 3.5 2.2 5.6 3 2.1.8 4 1.7 6.2 2.3 1.9.6 4.1 1.1 6.4 1.3 2.2.4 4.4.5 6.7.5 7.4 0 14.1-1.3 19.7-4.1S55.2 53.6 59 49.1c3.8-4.5 6.9-9.3 9-14.9 2-5.4 3-10.8 3-16.1V16c.7-.6 1.6-1.2 2.3-1.8.7-.6 1.3-1.2 2.2-1.9.6-.7 1.2-1.6 1.8-2.3.6-.9 1.2-1.8 1.7-2.5z')
      svg(class='[ social__icon ]' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' style='enable-background:new 0 0 64 64' xml:space='preserve')
        path(d='M64 18.3c-.6.3-1.1.5-1.8.8-.7.3-1.3.5-1.9.6-.6.1-1.3.3-1.9.4-.6.1-1.4.3-1.9.4.6-.4 1.3-.9 1.9-1.5.6-.5 1.1-1 1.5-1.7.5-.6 1-1.3 1.4-1.9.4-.6.6-1.4.9-2.2-.6.4-1.4.6-1.9 1-.6.4-1.4.6-1.9.9-.6.3-1.4.5-2.2.6-.8.3-1.5.5-2.3.6-.6-.6-1.3-1.3-1.9-1.8-.8-.5-1.5-.9-2.3-1.3-.9-.4-1.5-.6-2.4-.9-.9 0-1.9-.1-2.9-.1-1.8 0-3.3.4-5 1s-3.2 1.5-4.2 2.8c-1.1 1.3-2.2 2.7-2.8 4.2-.8 1.5-1.1 3.2-1.1 5.1 0 .3 0 .5.1.8v.8c0 .3 0 .5.1.8 0 .3 0 .5.1.8-2.8-.1-5.4-.6-7.8-1.4-2.7-.6-5-1.5-7.3-2.8-2.3-1.1-4.5-2.7-6.5-4.2s-3.9-3.3-5.6-5.4c-.2.3-.5.8-.6 1.3-.2.6-.5 1.1-.6 1.6-.1.6-.3 1.1-.4 1.7s-.1 1.1-.1 1.8c0 1.1.1 2.3.5 3.2.3 1.1.6 2.2 1.1 2.9.5 1 1.1 1.9 1.9 2.7s1.5 1.4 2.3 1.9c-.5 0-1 0-1.5-.1-.6-.1-1.1-.2-1.5-.3-.5-.1-1-.3-1.4-.5-.5-.1-1-.4-1.4-.6v.2c0 1.5.3 3.2.8 4.5.5 1.5 1.2 2.7 2.2 3.8.9 1.1 1.9 2.2 3.3 2.8 1.3.9 2.7 1.4 4.1 1.8-.3.1-.5.1-.8.1-.4.1-.6.1-.9.1-.3.1-.5.1-.8.1H8.5c-.3 0-.5 0-.6-.1-.3 0-.5 0-.8-.1.4 1.4 1 2.4 1.9 3.6.8 1.1 1.5 2.2 2.8 2.8 1.1.9 2.3 1.5 3.6 1.9 1.3.5 2.7.8 4.1.8-1.1.9-2.3 1.8-3.6 2.3-1.3.8-2.4 1.4-3.8 1.8-1.4.5-2.8.9-4.2 1.1-1.5.2-3 .4-4.7.4H1.6c-.4 0-.6 0-.9-.1h-.8c1.4.9 2.8 1.8 4.5 2.4s3.2 1.4 5 1.9c1.5.5 3.3.9 5.2 1.1 1.8.3 3.6.4 5.4.4 6 0 11.4-1.1 15.9-3.3 4.5-2.3 8.7-5.1 11.7-8.7 3.1-3.6 5.6-7.5 7.3-12.1 1.6-4.4 2.4-8.7 2.4-13V25.1c.6-.5 1.3-1 1.9-1.5.6-.5 1.1-1 1.8-1.5.5-.6 1-1.3 1.5-1.9.6-.6 1.1-1.3 1.5-1.9z')


//- Instagram
mixin ig(href, id)
  li(class='[ social__item ]')&attributes(attributes)
    a(class='[ social__link ]' href=href, target='_blank', rel='noopener', aria-label='Follow us on Instagram')
      svg(id=(id ? id : false), class='[ social__icon ]', xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100')
        title(id=(id ? id : false))= 'Follow us on Instagram'
        path(d='M73.3 100H26.7C12 100 0 88 0 73.3V26.7C0 12 12 0 26.7 0h46.5C88 0 100 12 100 26.7v46.5C100 88 88 100 73.3 100zM26.7 7C15.8 7 7 15.8 7 26.7v46.5C7 84.2 15.8 93 26.7 93h46.5c11 0 19.8-8.8 19.8-19.7V26.7C93 15.8 84.2 7 73.3 7H26.7z')
        path(d='M50.2 71.9c-4.7 0-9.3-1.5-13.1-4.4-4.7-3.5-7.8-8.7-8.7-14.5-1.8-12 6.5-23.3 18.6-25.1 2.2-.3 4.3-.3 6.5 0 9.7 1.4 17.2 8.9 18.6 18.6.9 5.8-.6 11.7-4.1 16.4-3.5 4.7-8.7 7.8-14.5 8.7-1.2.2-2.3.3-3.3.3zm0-37.2c-.7 0-1.5.1-2.2.2-8.2 1.2-14 8.9-12.7 17.2.6 4 2.7 7.5 5.9 9.9 3.2 2.4 7.2 3.4 11.2 2.8 8.2-1.2 14-8.9 12.7-17.2-1-6.6-6.1-11.8-12.7-12.7-.7-.2-1.5-.2-2.2-.2zM75.6 27.9c-1.9 0-3.5-1.6-3.5-3.5s1.5-3.5 3.5-3.5c1.9 0 3.5 1.6 3.5 3.5s-1.5 3.5-3.5 3.5z')

//- LinkedIn
mixin in(href, share, id)
  li(class='[ social__item ]')&attributes(attributes)
    a(class='[ social__link ]' href=`https://www.linkedin.com/in/${href}`, target='_blank', rel='noopener', aria-label=`${share ? 'Share on' : 'Follow us on'} LinkedIn`)
      svg(id=(id ? id : false), class='[ social__icon ]', xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' xml:space='preserve', role='img')
        title= `${share ? 'Share on' : 'Follow us on'} LinkedIn` 
        path(d='M22.2 33.6v.1-4.2c-.1-1.1-.1-2.4-.1-3.7-.1-1.1-.1-2.2-.1-3.4-.1-1-.1-2-.1-3.2l11.9.1.6 6.1.3.1c.4-.8 1-1.5 1.9-2.4.8-.8 1.8-1.5 2.9-2.3 1.1-.8 2.4-1.4 3.9-1.9 1.5-.4 3.1-.6 5-.8 2.3.1 4.4.5 6.2 1.3 1.9.8 3.6 1.9 5 3.5s2.5 3.5 3.4 6c.7 2.4 1.1 5.2 1.1 8.6v26.2l-13.8.3V39.2c0-1.4-.1-2.7-.4-3.9-.3-1.1-.6-2.2-1.1-3-.6-.8-1.3-1.4-2.1-1.9-.9-.5-2-.8-3.2-.6-.9-.1-1.8 0-2.5.4-.9.4-1.5.8-2.1 1.1-.6.5-1 1-1.4 1.6-.4.6-.8 1.3-1 1.9-.1.4-.1.6-.3.8-.2.2-.2.4-.2.8-.1.4-.1.6-.1.9v26.6l-13.6.1-.1-30.4zM.4 63.9V19.4l13.6-.1V64L.4 63.9zM14.5 7c0 .9-.1 1.8-.5 2.7s-.9 1.6-1.5 2.3c-.6.6-1.4 1-2.3 1.4-.9.4-2 .6-3.1.5-1.1.1-2-.1-2.9-.5-.9-.4-1.6-.8-2.3-1.4-.6-.6-1.1-1.4-1.5-2.3S0 7.9 0 7c0-1 .1-1.9.5-2.8.4-.8.9-1.5 1.5-2.2S3.5.9 4.4.5C5.2.3 6.1.1 7.3 0c1.1.1 2.3.3 3.1.5.9.4 1.5.9 2.1 1.5s1.1 1.4 1.5 2.2c.4.9.5 1.8.5 2.8z')

//- LinkedIn — Square
mixin in-sq(href, share, id)
  li(class='[ social__item ]')&attributes(attributes)
    a(class='[ social__link ]' href=`https://www.linkedin.com/in/${href}`, target='_blank', rel='noopener', aria-label=`${share ? 'Share on' : 'Follow us on'} LinkedIn`)
      svg(id=(id ? id : false), class='[ social__icon ]', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 64 64', role='img')
        title= `${share ? 'Share on' : 'Follow us on'} LinkedIn` 
        path(d='M59.3 0H4.7C2.1 0 0 2.1 0 4.7v54.6C0 61.9 2.1 64 4.7 64h54.6c2.6 0 4.7-2.1 4.7-4.7V4.7C64 2.1 61.9 0 59.3 0zM19.1 54.6H9.5V24h9.6v30.6zm-4.8-34.9c-3.1 0-5.6-2.3-5.6-5.5s2.5-5.5 5.6-5.5 5.6 2.4 5.6 5.5-2.6 5.5-5.6 5.5zm40.3 34.9H45V37.9c0-4.9-2.1-6.4-4.8-6.4-2.8 0-5.6 2.1-5.6 6.6v16.6h-9.7V24h9.3v4.2h.1c.9-1.9 4.2-5.1 9.2-5.1 5.4 0 11.2 3.2 11.2 12.5v19z')


//- Instagram
mixin ig(href, id)
  li(class='[ social__item ]')&attributes(attributes)
    a(class='[ social__link ]' href=`https://instagram.com/${href}`, target='_blank', rel='noopener', aria-label='Follow us on Instagram')
      svg(class='[ social__icon ]' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100')
        title Follow us on Instagram
        path(d='M73.3 100H26.7C12 100 0 88 0 73.3V26.7C0 12 12 0 26.7 0h46.5C88 0 100 12 100 26.7v46.5C100 88 88 100 73.3 100zM26.7 7C15.8 7 7 15.8 7 26.7v46.5C7 84.2 15.8 93 26.7 93h46.5c11 0 19.8-8.8 19.8-19.7V26.7C93 15.8 84.2 7 73.3 7H26.7z')
        path(d='M50.2 71.9c-4.7 0-9.3-1.5-13.1-4.4-4.7-3.5-7.8-8.7-8.7-14.5-1.8-12 6.5-23.3 18.6-25.1 2.2-.3 4.3-.3 6.5 0 9.7 1.4 17.2 8.9 18.6 18.6.9 5.8-.6 11.7-4.1 16.4-3.5 4.7-8.7 7.8-14.5 8.7-1.2.2-2.3.3-3.3.3zm0-37.2c-.7 0-1.5.1-2.2.2-8.2 1.2-14 8.9-12.7 17.2.6 4 2.7 7.5 5.9 9.9 3.2 2.4 7.2 3.4 11.2 2.8 8.2-1.2 14-8.9 12.7-17.2-1-6.6-6.1-11.8-12.7-12.7-.7-.2-1.5-.2-2.2-.2zM75.6 27.9c-1.9 0-3.5-1.6-3.5-3.5s1.5-3.5 3.5-3.5c1.9 0 3.5 1.6 3.5 3.5s-1.5 3.5-3.5 3.5z')


//- mixin copylink
//-   li(class='[ social__item ]')
//-     button#copyLink(class='[ social__item ]')
//-       svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' style='enable-background:new 0 0 64 64' xml:space='preserve')
//-         path(d='M59.7 4.3c-5.6-5.7-14.8-5.7-20.5 0L28.5 15c2.6-.2 5.2.2 7.6 1.2 1-1 7.2-7.1 7.6-7.6 3.3-3.2 8.5-3.1 11.7.2 3.1 3.2 3.1 8.3 0 11.5L41 34.7c-1.8 1.8-4.3 2.7-6.8 2.6-2 0-4-.8-5.5-2.2-1.1-.9-2-2-2.5-3.3l-.9.6-3.3 3.5c.7 1.2 1.5 2.4 2.5 3.4 6.3 5.4 15.7 5 21.6-.9l13.7-13.7c5.6-5.6 5.6-14.8-.1-20.4.1 0 .1 0 0 0z')
//-         path(d='M27.9 47.7c-1 1-7.1 7.2-7.5 7.6-3.3 3.2-8.5 3.1-11.7-.2-3.1-3.2-3.1-8.3 0-11.5l14.5-14.5c1.8-1.8 4.3-2.7 6.8-2.6 3.5.1 6.5 2.4 7.6 5.6l.9-.6L42 28c-.7-1.2-1.5-2.4-2.5-3.4-5.8-5.6-15-5.6-20.7.1L4.3 39.2c-5.7 5.6-5.8 14.8-.1 20.5 5.6 5.7 14.8 5.8 20.5.2l.2-.2c.8-.8 8.5-8.6 10.7-10.8-2.7.2-5.3-.2-7.7-1.2z')


//- Envelope
mixin env(href, id)
  li(class='[ social__item ]')&attributes(attributes)
    a(class='[ social__link ]' href=href, target='_blank', rel='noopener', aria-label='Share by email')
      //- svg(id=(id ? id : false), class='[ social__icon ]', version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 500 500' xml:space='preserve' role='img')
      //-   title Share by email
      //-   path(d='M18.9 85.2L175.3 185c45.4 29 104 29 149.4 0L481 85.2H18.9z')
      //-   path(d='M340.4 209.7c-27 17.3-58.4 26.4-90.4 26.4s-63.4-9.1-90.4-26.4L0 107.9v306.9h500V107.9L340.4 209.7z')

      svg(class='[ social__icon ]' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' style='enable-background:new 0 0 64 64' xml:space='preserve')
        path(d='m2.4 21.8 20 12.8c5.8 3.7 13.3 3.7 19.1 0l20-12.8H2.4z')
        path(d='M43.6 37.7c-3.5 2.2-7.5 3.4-11.6 3.4s-8.1-1.2-11.6-3.4L0 24.7V64h64V24.7l-20.4 13z')


mixin github(href, id)
  li(class='[ social__item ]')&attributes(attributes)
      a(class='[ social__link ]' href=`https://github.com/${href}`, target='_blank', rel='noopener', aria-label='Follow us on GitHub')
        svg(class='[ social__icon ]' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64')
          title Follow us on Github
          path(d='M32 .7C14.3.7 0 15 0 32.8 0 47 9.2 59 21.9 63.3c1.6.3 2.2-.7 2.2-1.5v-5.5c-9 1.9-10.9-4.3-10.9-4.3-1.5-3.7-3.6-4.7-3.6-4.7-2.9-2 .2-2 .2-2 3.2.2 4.9 3.3 4.9 3.3 2.9 4.9 7.5 3.5 9.3 2.7.3-2.1 1.1-3.5 2-4.3-7.1-.8-14.6-3.6-14.6-15.9 0-3.5 1.2-6.4 3.3-8.6-.3-.8-1.4-4.1.3-8.5 0 0 2.7-.9 8.8 3.3 2.6-.7 5.3-1.1 8-1.1s5.5.4 8 1.1c6.1-4.2 8.8-3.3 8.8-3.3 1.7 4.4.6 7.7.3 8.5 2.1 2.2 3.3 5.1 3.3 8.6 0 12.3-7.5 15.1-14.6 15.9 1.1 1 2.2 3 2.2 5.9v8.8c0 .9.6 1.9 2.2 1.5C54.8 59 64 47 64 32.8 64 15 49.7.7 32 .7z')

mixin medium(href, id)
  li(class='[ social__item ]')&attributes(attributes)
    a(class='[ social__link ]' href=`https://medium.com/${href}`, target='_blank', rel='noopener', aria-label='Follow us on Medium')
      svg(class='[ social__icon ]' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200')
        title Follow us on Medium
        path.st0(d='M0 0v200h200V0H0zm166.2 47.4l-10.7 10.3c-.9.7-1.4 1.9-1.2 3v75.6c-.2 1.1.3 2.3 1.2 3l10.5 10.3v2.3h-52.7v-2.3l10.9-10.5c1.1-1.1 1.1-1.4 1.1-3V74.9L95 151.5h-4.1L55.8 74.9v51.4c-.3 2.2.4 4.3 1.9 5.9l14.1 17.1v2.3h-40v-2.3l14.1-17.1c1.5-1.6 2.2-3.8 1.8-5.9V66.9c.2-1.6-.5-3.3-1.7-4.4L33.5 47.4v-2.3h39l30.1 66 26.5-66h37.1v2.3z')

mixin dev(href, id)
  li(class='[ social__item ]')&attributes(attributes)
    a(class='[ social__link ]' href=`https://dev.to/${href}`, target='_blank', rel='noopener', aria-label='Follow us on DEV')
      svg(class='[ social__icon ]' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200')
        title Follow us on DEV
        path(d='M53.6 78.7c-1.7-1.3-3.5-1.9-5.2-1.9h-7.8v46.6h7.8c1.7 0 3.5-.6 5.2-1.9 1.7-1.3 2.6-3.2 2.6-5.8V84.5c0-2.6-.8-4.5-2.6-5.8zM180.4 0H19.6C8.8 0 0 8.7 0 19.6v160.9C0 191.3 8.8 200 19.6 200h160.8c10.8 0 19.6-8.7 19.6-19.6V19.6C200 8.7 191.2 0 180.4 0zM68.8 115.7c0 8.4-5.2 21.1-21.6 21.1H26.5V62.9h21.2c15.8 0 21.1 12.7 21.1 21.1v31.7zm45-39.6H90v17.2h14.5v13.2H90v17.1h23.8v13.2H86c-5 .1-9.1-3.8-9.2-8.8V72.2c-.1-5 3.8-9.1 8.8-9.2h28.2v13.1zm46.3 51.5c-5.9 13.7-16.5 11-21.2 0L121.7 63h14.5l13.3 50.8L162.7 63h14.5l-17.1 64.6z')

mixin yt(href, id)
  li(class='[ social__item ]')&attributes(attributes)
    a(class='[ social__link ]' href=`https://youtube.com/channel/${href}`, target='_blank', rel='noopener', aria-label='Follow us on YouTube')
      svg(class='[ social__icon ]' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200')
        title Follow us on YouTube
        path(d='M198 59.7s-2-13.9-8-20c-7.6-8-16.1-8.1-20-8.5-28-2-70-2-70-2s-42 0-70 2c-3.9.5-12.4.5-20 8.5-6 6.1-7.9 20-7.9 20S0 76 0 92.3v15.3c0 16.3 2 32.6 2 32.6s2 13.9 7.9 20c7.6 8 17.6 7.8 22.1 8.6 16 1.5 68 2 68 2s42-.1 70-2.1c3.9-.5 12.4-.5 20-8.5 6-6.1 8-20 8-20s2-16.3 2-32.6V92.3c0-16.3-2-32.6-2-32.6zM79.4 126.1V69.5l54 28.4-54 28.2z')

mixin whatsapp(area, prefix, line)
  li(class='[ social__item ]')&attributes(attributes)
    template(class=false obscure=true data-p1='+1' data-p2=area data-p3=prefix data-p4=line)
      a(class='[ social__link ]' href='https://wa.me/%1%2%3%4' target='_blank' rel='noopener nofollow')
        //- svg(class='[ social__icon ]' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 308 308' style='enable-background:new 0 0 308 308' xml:space='preserve' role='img' aria-label='WhatsApp')
        //-   title='Send a message on WhatsApp'
        //-   path(d='M227.9 177c-.6-.3-23.1-11.3-27-12.8-1.6-.6-3.4-1.2-5.2-1.2-3 0-5.6 1.5-7.6 4.5-2.2 3.3-9 11.3-11.1 13.6-.3.3-.6.7-.9.7-.2 0-3.7-1.4-4.7-1.9-24.1-10.5-42.4-35.6-44.9-39.9-.4-.6-.4-.9-.4-.9.1-.3.9-1.1 1.3-1.6 1.2-1.2 2.5-2.8 3.8-4.3.6-.7 1.2-1.5 1.8-2.2 1.9-2.2 2.7-3.8 3.6-5.8l.5-1c2.3-4.7.3-8.6-.3-9.9-.5-1.1-10-23.9-11-26.3-2.4-5.8-5.6-8.5-10.1-8.5-.4 0 0 0-1.7.1-2.1.1-13.6 1.6-18.7 4.8-5.4 3.4-14.5 14.2-14.5 33.2 0 17.1 10.9 33.3 15.5 39.5.1.2.3.5.6.9 17.9 26.1 40.2 45.4 62.7 54.5 21.7 8.7 32 9.7 37.9 9.7 2.5 0 4.4-.2 6.2-.4l1.1-.1c7.5-.7 24-9.2 27.8-19.7 3-8.2 3.7-17.2 1.8-20.5-1.2-2-3.6-3.1-6.5-4.5z')
        //-   path(d='M156.7 0C73.3 0 5.5 67.4 5.5 150.1c0 26.8 7.2 53 20.7 75.9l-26 76.6c-.5 1.4-.1 3 .9 4.1.8.8 1.8 1.2 2.9 1.2.4 0 .8-.1 1.2-.2l79.9-25.4c21.9 11.7 46.6 17.9 71.6 17.9 83.4 0 151.3-67.3 151.3-150.1C308 67.4 240.1 0 156.7 0zm0 269c-23.5 0-46.3-6.8-65.9-19.7-.7-.4-1.4-.7-2.2-.7-.4 0-.8.1-1.2.2l-40 12.7 12.9-38.1c.4-1.2.2-2.6-.6-3.6-14.9-20.4-22.8-44.5-22.8-69.7 0-65.5 53.8-118.9 119.8-118.9 66.1 0 119.8 53.3 119.8 118.9 0 65.6-53.7 118.9-119.8 118.9z')


        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' xml:space='preserve')
          path(d='M54.7 9.3c-6-6-14-9.3-22.5-9.3C14.6 0 .3 14.2.3 31.7c0 5.6 1.5 11 4.3 15.9L0 64l16.9-4.4c4.7 2.5 9.9 3.9 15.2 3.9C49.7 63.4 64 49.2 64 31.7c0-8.4-3.3-16.4-9.3-22.4zm-7 33.7c-.7 1.9-3.8 3.5-5.4 3.8-1.4.2-3.1.3-5-.3-1.2-.4-2.6-.9-4.5-1.7-8-3.4-13.2-11.4-13.6-12-.4-.5-3.3-4.3-3.3-8.2 0-3.9 2.1-5.8 2.8-6.6.7-.8 1.6-1 2.1-1h1.5c.5 0 1.1-.2 1.8 1.4.7 1.6 2.3 5.5 2.5 5.9.2.4.3.9.1 1.4-.3.5-.4.9-.8 1.3-.4.5-.8 1-1.2 1.4-.4.4-.8.8-.3 1.6s2.1 3.4 4.4 5.5c3 2.7 5.6 3.5 6.4 3.9.8.4 1.3.3 1.7-.2s2-2.3 2.5-3.1c.5-.8 1.1-.7 1.8-.4.7.3 4.6 2.2 5.4 2.6.8.4 1.3.6 1.5.9.3.4.3 2-.4 3.8z')

mixin copylink()
  li(class='[ social__item ]')&attributes(attributes)
    button#copyLink(class='[ copylink ] [ block ]')
      svg(class='[ social__icon ]' xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 64 64' role='img')
        title Copy Link
        path(d='m27.26 44.7-11.2 11.2a3.205 3.205 0 0 1-4.53 0l-3.5-3.5c-.6-.6-.93-1.4-.93-2.26 0-.85.33-1.66.93-2.26l18.73-18.73a3.205 3.205 0 0 1 4.53 0l.36.32c1.41 1.05 3.37.91 4.62-.32 1.4-1.38 1.42-3.63.04-5.03-3.88-3.88-10.7-3.88-14.58 0L3.01 42.85A10.24 10.24 0 0 0 0 50.14c-.01 2.74 1.07 5.36 3.01 7.29l3.5 3.5c1.93 1.94 4.56 3.02 7.29 3.01 2.74.01 5.36-1.07 7.29-3.01l11.2-11.2a3.555 3.555 0 0 0 0-5.03 3.555 3.555 0 0 0-5.03 0z')
        path(d='m60.99 6.45-3.49-3.5c-3.88-3.89-10.7-3.89-14.58 0L32.14 13.73a3.543 3.543 0 0 0 0 4.85 3.557 3.557 0 0 0 5.03.17L47.94 7.98a3.205 3.205 0 0 1 4.53 0l3.49 3.5c.6.6.93 1.42.93 2.26.01.85-.33 1.66-.93 2.26L37.24 34.73a3.205 3.205 0 0 1-4.53 0l-.36-.32a3.548 3.548 0 0 0-4.7.32 3.564 3.564 0 0 0 .03 5.03c1.93 1.94 4.55 3.02 7.29 3.02 2.74.01 5.36-1.07 7.3-3.01l18.72-18.73C62.93 19.1 64 16.5 64 13.74s-1.07-5.35-3.01-7.29z')
