mixin img(src, alt)

  img(class='[ lazyload ]' src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=',
    data-src=`${imgPath}/${src}`, data-sizes='auto',
    alt=alt
    )&attributes(attributes)

//- 320, 375, 414, 568, 667, 736, 768, 834, 1024, 1112, 1366

mixin script(filename, deps, load)

  if pro
    script(src!=`/scripts/${filename}-version.min.js` async=(load === 'async' ? '' : false) defer=(( load === 'defer') ? '' : false ))&attributes(attributes)

  else if deps
    script(src=`/scripts/${filename}.deps.js` async=( load === 'async' ? '' : false) defer=(( load === 'defer') ? '' : false ))&attributes(attributes)

  else if deps === files
    script(src=`/scripts/${filename}.deps.js` async=( load === 'async' ? '' : false) defer=(( load === 'defer') ? '' : false ))&attributes(attributes)
    script(src=`/scripts/${filename}.build.js` async=( load === 'async' ? '' : false) defer=(( load === 'defer') ? '' : false ))&attributes(attributes)

  else
    script(src=`/scripts/${filename}.build.js` async=( load === 'async' ? '' : false) defer=(( load === 'defer') ? '' : false ))&attributes(attributes)

mixin font(name)
  link(rel='preload', href=`/fonts/${name}.woff2`, as='font', type='font/woff2', crossorigin)

mixin code(type)
  div(class="[ pt--050 mb--050 ]")
    pre(class=` language-${type}  [ px--1 pb--2 ]`)
      code(class=` language-${type}  [ pt--2 ]`)
        block

mixin a(link, text)
  a(href=link target='_blank' rel='noopener')&attributes(attributes)= text